<body class="body">
  <div class="container">
    <div class="header">
      <h3 class="text-muted">Image Crawler</h3>
    </div>

    <div class="jumbotron">
      <form [formGroup]='form' (ngSubmit)='submit()'>
        <h1>Enter URL</h1>
        <input type="name" formControlName='url' placeholder="URL" autofocus>
        <small *ngIf="form.hasError('required', ['url']) && form.controls.url.touched" class="text-danger">
            Url is required.
        </small>
        <br>
        <button class="btn" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
    </div>
    <small *ngIf="error" class="text-danger">{{msgerror}}</small>
    <div class="grid-container" *ngIf="!error && images?.length>0">
      <div class="grid-item" *ngFor="let each of images">
        <img src={{each}}>
      </div>
    </div>
  </div>
</body>